.footer__column-link{
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  transition: opacity 1s linear;
}

.footer__column-link:nth-of-type(3n){
  margin-bottom: 0;
}

.footer__column-link:hover{
  opacity: 0.5;
}
